#subheading {
	text-align: center;
	font-size: 30px;
	margin-top: 100px;
}


#table img{
	height: 400px;
	width: 900px;
	margin-top: 100px;
	margin-left: 50px;
}

td h1,p{
	margin-left: 50px;
	text-align: center;
	font-size: 30px;
}

@media screen and (max-width: 1000px) {
	#table img{
		height: 100px;
		width: 100px;
		margin-top: 0px;
		margin-left: 0px;
	}
	
	td h1,p{
		margin-left: 0px;
		text-align: center;
		font-size: 15px;
	}
}